/** CSS STYLE **/
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --gray: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --color-video: 0 0 0;
}

@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 300;
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;

  font-family: Neucha, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.bg-color-light {
  background-color: var(--light);
}

.bg-color-primary-dark {
  background-color: var(--primary-dark);
}

.bg-color-primary-brown {
  background-color: var(--brown);
}

section {
  padding: 100px 0;
}

html,
body {
  box-sizing: border-box;

  margin: auto;
  padding: 0;

  height: 100vh;
  width: 1440px;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--dark);
}

* {
  box-sizing: border-box;
}

/* <!---Header--> */

.back-image {
  position: relative;
  z-index: 1;
}

.back-image::before {
  content: "";
  position: absolute;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  width: 100vw;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;
}

.header-content {
  max-width: 1110px;
  min-height: 900px;

  margin: auto;
}

.header-name {
  position: relative;
  z-index: 2;
  padding-top: 105px;
}

.header-img {
  position: absolute;
  height: 525px;
  top: 52px;
  left: 460px;
}

.og {
  color: var(--primary);
}

.white {
  color: var(--white);
}

.header-description {
  display: flex;
  justify-content: space-between;
}

.header-left-content {
  flex-basis: 50%;
  margin-right: 30px;
  margin-top: 220px;
}

.header-right-content {
  flex-basis: 50%;
  margin-top: 220px;
}

.header-right-description {
  margin-bottom: 11px;
}

p {
  margin: 0;
  padding: 0;
}

.btn {
  position: absolute;
  z-index: 3;
  display: block;

  background-color: var(--primary);
  color: var(--white);
  text-decoration: none;
  padding: 12px 24px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;

  cursor: pointer;
}

.btn-header-more {
  margin-top: 40px;
  z-index: 3;
}

/* video-prive */

.main {
  display: block;
}

.video-section {
  display: block;
  text-align: center;
  padding: 100px 0;
  background-color: white;
}

.svp {
  margin-top: 30px;
  margin-bottom: 30px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  position: relative;
  margin-bottom: -200px;
}

/* CARD */
.cognitive-biases {
  padding-top: 140px;

  background-color: var(--primary-dark);
}

.cognitive-biases-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;

  list-style-type: none;
}

.cognitive-biases-item {
  width: 350px;
  margin-top: 20px;
  padding: 24px;

  background-color: var(--light);
}

.cognitive-biases-link {
  text-decoration: none;
}

.white-color {
  color: var(--white);
}

.cognitive-biases-item-description {
  padding: 0;

  background-color: var(--primary-dark);
}

.cognitive-biases-list-description {
  font-weight: 400;
  font-size: 52px;
}

.cognitive-biases-item-count {
  margin-bottom: 40px;

  color: var(--primary-dark);
  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

.cognitive-biases-title {
  margin-bottom: 16px;

  color: var(--primary);
  font-weight: 400;
}

.cognitive-biases-description {
  color: var(--dark);
  font-weight: 400;
  text-transform: inherit;
}

.cognitive-biases-item:not(:first-child):hover {
  background-color: var(--primary);
}

.cognitive-biases-item:not(:first-child):hover .cognitive-biases-item-count {
  color: var(--white);
}

.cognitive-biases-item:not(:first-child):hover .cognitive-biases-title {
  color: var(--white);
}

.cognitive-biases-item:not(:first-child):hover .cognitive-biases-description {
  color: var(--white);
}

.card {
  position: relative;
  z-index: -2;
}

.card-dark {
  background-color: var(--brown);
}

.card-light {
  background-color: var(--light);
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.card-image {
  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgba(var(--color-video) / 15%));
}

/* LIGHT */

.light-content {
  max-width: 1110px;

  margin: auto;
}

.light-description {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.light-foto {
  flex-basis: 50%;
  vertical-align: middle;
  box-shadow: 0.3em 0.3em 1em rgba(var(--color-video) / 10%);
  z-index: 1;
}

.light-headline {
  flex-basis: 50%;
}

.light-text-first {
  font-family: Neucha, sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: var(--gray);
}

.light-text-headline {
  margin-top: 30px;
  font-family: Neucha, sans-serif;
  font-size: 34px;
  line-height: 41px;
}

.light-text-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);

  border: 1px solid var(--brown);
  background-color: var(--brown);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;

  margin-top: 100px;
  margin-bottom: 20px;
}

.light-text-descreption {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.left-light-content,
.right-light-content {
  flex-basis: 50%;
}

.left-light-text-descreption,
.right-light-text-descreption {
  font: 16px/25.6px;
}

.right-light-text-descreption {
  font: 16px/25.6px;
}

/* BROWN */

.brown-content {
  max-width: 1110px;

  margin: auto;
}

.brown-description {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.brown-foto {
  flex-basis: 50%;
  vertical-align: middle;
  box-shadow: 0.3em 0.3em 1em rgba(var(--color-video) / 10%);
  z-index: 1;
}

.brown-headline {
  flex-basis: 50%;
}

.brown-text-first {
  font-family: Neucha, sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: var(--translucent-white);
}

.brown-text-headline {
  margin-top: 30px;
  font-family: Neucha, sans-serif;
  font-size: 34px;
  line-height: 41px;
  color: var(--white);
}

.brown-text-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--brown);

  border: 1px solid var(--white);
  background-color: var(--white);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;

  margin-top: 100px;
  margin-bottom: 20px;
}

.brown-text-descreption {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.left-brown-content,
.right-brown-content {
  flex-basis: 50%;
}

.left-brown-text-descreption,
.right-brown-text-descreption {
  font: 16px/25.6px;
  color: var(--white);
}

/* Footer */

.footer {
  padding: 100px 0;
}

.container {
  width: 1110px;

  margin: auto;
}

.send-form {
  display: flex;
  justify-content: center;
  gap: 30px;

  background-color: var(--primary-dark);

  margin-bottom: 60px;
}

.text-send-form {
  flex-basis: 50%;

  font-family: Neucha, sans-serif;
  font-size: 34px;
  line-height: 120%;

  color: var(--white);

  padding-top: 55px;
  padding-left: 55px;
  margin-bottom: 55px;
}

.right-column {
  padding-top: 38px;
}

.title-form {
  font-size: 18px;
  line-height: 1.6em;
  color: var(--white);

  margin-bottom: 9px;
}

.label {
  display: flex;
}

.lft-8 {
  position: relative;
  left: 8px;
}

.footer-input {
  width: 423px;
  height: 50px;
  padding-top: 17px;
  padding-bottom: 18px;
  padding-left: 15px;

  border: none;
}

.footer-btn {
  width: 70px;
  height: 50px;

  border: none;

  background-color: var(--primary);

  cursor: pointer;
}

.footer-btn::before {
  display: inline-block;

  width: 23px;
  height: 23px;

  margin-left: 5px;

  vertical-align: middle;

  background-image: url("../images/send.svg");
  background-repeat: no-repeat;

  content: "";
}

.subscribed {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: var(--white);

  padding-top: 5px;
}

.link-rules {
  text-decoration: underline;
}

.contact {
  font-size: 14px;
  text-align: center;
  color: var(--dark);
}

.creater-name {
  font-size: 14px;
  color: var(--dark);
  margin-bottom: 16px;
}

.materials-link {
  color: var(--dark);
  font-size: 14px;
}

.link-mat {
  text-decoration: underline;
  color: var(--blue);
}

.ml {
  margin-bottom: 16px;
}
